<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="d-flex align-items-center mb-3" th:fragment="ordenation(page)">
    <form method="get" class="d-flex align-items-center">
        <label class="me-2">Ordenar por:</label>
        <select class="form-select me-3" style="width: 150px;" name="orderBy">
            <option value="id" selected>Identificador</option>
            <option value="name">Nombre</option>
            <option value="description">Descripción</option>

        </select>

        <label class="me-2">En sentido:</label>
        <select class="form-select me-3" style="width: 150px;" name="orderDir">
            <option value="asc" selected>Ascendente</option>
            <option value="desc">Descendente</option>
        </select>

        <label class="me-2">En cada página:</label>
        <select class="form-select me-3" style="width: 80px;" name="pageSize">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>

        <button class="btn btn-primary" type="submit">Aceptar</button>
    </form>
</div>

</body>
</html>